body{ font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif; font-size:16px; padding:0;margin:0; background-color: #f0eeec}
div,p,ul,ol, li, section, h1, img, header, span, center, p, input, h4{margin:0; padding:0}
.clr{clear: both;}

/* top header */
.top-header{background: #fff; padding-bottom: 19px;}
.contact{float: left}
.contact p{display: inline; margin-right: 20px; color: #8d8d8d; font-size: 21px;}
.contact p img{position: relative; top: 3px;}
.user-section{margin-top: 6px;float: right}
.user-section p{display: inline; margin-left: 20px; color: #8d8d8d; font-size: 18px}
.login-link, .register-link{cursor: pointer;}

/* main header */
.main-content{width: 100%; height: 596px; }
.header{width: 100%; background: #334957;background-color: hsla(0,0%,0%,0.3)}
.wrapper{width: 1198px; margin: 0px 216px;}
.logo{float: left; font-size: 18px; display: inline; padding: 6px 0px;}
.logo img{display: inline; margin-top: 18px; float: left; margin-right: 10px}
.logo  p{margin-top: 24px; float: left; color: white; font-size: 20px; margin-right: 10px}
.logo-link{text-decoration: none; color: white;}
.nav{display: inline;float: right; padding: 31px 0px;}
.nav ul{list-style-type: none; display: inline;}
.nav ul li{display: inline; padding: 0px 15px;}
.nav ul li a{text-decoration: none; color: white;}
.nav ul li a:hover{color: #b9b2b2;}
.booking{padding-top: 275px;}
.flight-count{font-size: 20px; color: white; letter-spacing: 5px;}
.flight-booking{font-size: 50px; color: white; margin-top: 20px; letter-spacing: 20px;}
.booking center form{margin-top: 50px;}
.input-field-destination{background: transparent; color: white; padding: 24px 50px; padding-right: 134px; margin-right: 45px; border: 1px solid white; border-radius: 7px;}
.input-field-date{background: transparent; color: white; padding: 24px 50px; margin-right: 45px; padding-right: 0px; border: 1px solid white; border-radius: 7px;}
input::-webkit-input-placeholder{color: white;}
.booking center form button{background: red; padding: 25px; color: white; border: 0px; border-radius: 8px;}
.element-spacing{margin-top: 140px;}

/* plane image gallery */
div.gallery {margin-right: 28px; border: 1px solid #ccc; float: left; width: 307px; margin-top: 87px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)}
/* div.gallery:hover {border: 1px solid #777;} */
div.gallery img {width: 100%;height: auto;}
div.desc {padding: 15px;}
.desc p{line-height: 26px; font-size: 18px;}
.desc button{padding: 13px; background: #d83240; color: white; margin-top: 17px; border: 0px; border-radius: 12px;}
.desc a{text-decoration: none; color: #bebebe;margin-left: 40px;}

/* prices */
.price{background: #f8f8f8; padding-top: 175px;}
.div-spacing{margin-top: 40px; background: #fff;}
.brand-logo{float: left; padding: 65px 25px 10px; width: 150px; background: #fff}
.price-detail{background: #f1f1f1; float: left; opacity: 0.5; padding: 23px 0px;}
.price-detail div{float: left; padding: 35px; border-right: 1px solid #c4bdbd; width: 149px;}
.price-detail div:nth-child(4){border-right: 0px solid black;}
.price-detail div p{text-align: center; line-height: 33px;}
.price-detail div p:nth-child(1){font-weight: 900; font-size: 20px;}
.price-detail div p:nth-child(2){font-weight: 600; font-size: 15px;}
.check-all{float: left;  padding: 27px 35px; width: 170px; background: #ffffff}
.check-all h4{margin-top: 40px;}
.check-all p{margin-top: 13px;}
.check-all button {background: red; padding: 15px; color: white; margin-top: 12px; border: 0px; border-radius: 12px;} /* same button property used */

/* footer  */
.footer-contact-us{float: left; width: 296.25px; padding: 22px; padding-left: 0px}
.footer-contact-us p{line-height: 35px;}
.footer-border{height: 241px; float: left; border: 1px solid #eee; margin-top: 22px;}
.product-tag{float: left; width: 283.25px; padding: 22px; padding-right: 0px;}
.product-tag button{cursor: pointer;color: black; opacity: 10; padding:10px 13px; background: white; margin-top: 10px; border: 0px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2)}
.footer-img{float: left; width: 234.25px; padding: 31px;}
.twitter{float: left; width: 325.25px; padding: 22px;}
.twitter p{line-height: 20px;}
.twitter-detail{margin-top: 33px;}

/* last footer */
.last-footer{background: #343434}
.copyright{float: right; color: #676767; padding: 30px 0px;}

/* font awesome */
.location{float: right; margin-left: 28px; margin-top: 22px; position: absolute; z-index: 2; color: white; text-shadow: 0px 0px 0px #f4f5f}
.check-in{float: right; margin-left: 28px; margin-top: 22px; position: absolute; z-index: 2; color: white; text-shadow: 0px 0px 0px #f4f5f}
.check-out{float: right; margin-left: 28px; margin-top: 22px; position: absolute; z-index: 2; color: white; text-shadow: 0px 0px 0px #f4f5f}
.back{margin-left: -37px; margin-top: -55px; color: #eeeef0}
.back-color{color: black;}
.next{margin-left: 78px; margin-top: -55px; color: #eeeef0}
.back-color{color: black;}
.fa-stack{position: absolute}
/* simple elemnt style */
h3{color: red; border-bottom: 4px solid red; margin: 0px; padding: 11px 1px; display: inline; letter-spacing: 4px;}
h2{font-size: 30px; letter-spacing: 10px;}

/* for circle */
.left-circle{border-radius: 50%; background: white; position: absolute; top: 1303px; left: 102px; width: 60px; height: 60px}
.right-circle{border-radius: 50%; background: white; position: absolute; top: 1303px; right: 102px; width: 60px; height: 60px}

/* login div style */
.pop-background{height:100%;width:100%;position:fixed;top:0;z-index:0;left:0;background-color: hsla(0,0%,0%,0.5); background-blend-mode: overlay;display:none;}
.login{padding: 29px; padding-right: 50px; background: #F5F5F5; margin: auto; position: fixed; top: 31%; left: 36%;z-index:1; display:none; border-radius: 23px;}
.login-cancel{position: absolute; margin-top: -16px; margin-left: 305px;};

.login-main-design{background: #F5F5F5; margin: 70px auto;  padding: 30px 40px; border-radius: 30px;}
.field-spacing{margin-top: 20px;}
.error{margin-top: 9px;}
.login-style{margin-top: 7px;resize: none; width: 100%; font-size: 20px; padding: 14px 2px; padding-left: 20px; border-radius: 10px; border: 0px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
label{text-transform: uppercase; font-size: 18px;}
.success{color: green;}
.reset{background: black;font-size: 22px;}
.submit{background: orange;font-size: 22px;}
.reset, .submit{margin: 14px 10px;padding: 15px 30px; color: white; border: 0px; border-radius: 7px; margin-bottom:0px;}
.reset{margin-left:261px;}
.loginSuccess{color: red}

/* register div style */
.register{margin: auto; position: absolute; top: 8%; left: 28%;z-index:1; display:none}
.register-cancel{position: absolute; margin-top: -19px; margin-left: 691px;}
.main-design{background: #F5F5F5; margin: 70px auto; width: 732px; padding: 30px 40px; border-radius: 30px;}
select{margin-top: 10px; font-size: 18px; padding: 5px 15px; border-radius: 10px; text-align: center;}
.input-style{margin-top: 10px;resize: none; width: 100%; font-size: 20px; padding: 14px 2px; padding-left: 20px; border-radius: 10px; border: 0px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
input[type="checkbox"], input[type="radio"]{width: 24px; height: 18px; margin-top: 20px; margin-right: 20px;margin-top: 10px;}
.passwd-note{margin-top: 10px;}
.register-success{color: green;}

/* make registration form 50% */
.left{float:left; width:293px;}
.right{float:right;width:318px;padding-right:30px;}
.login-reset{margin-left: 10px;}






/*Admin panel*/

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

#short-time{color:green;background:lightblue; font-weight:bolder}

.poll-div{width: 400px; background: white; margin-top: 39px;
	margin-left: 176px;
	width: 667px;box-shadow: 5px 10px 8px #888888; border-radius:32px; padding-bottom: 24px;}
.vote-error{color: red; display: none;}
.display-error{display: inline;color: red;}
.vote-success{color: green; display: inline;}


.larger-day
{
	color: white;
    font-size: 36px;
    margin-top: 212px;
    margin-left: 29px;
}
.larger-time{
	color: white;
    font-size: 36px;
    margin-left: 29px;
}

.small-day
{
	color: white;
    font-size: 21px;
    margin-top: 78px;
    margin-left: 8px;
}

.small-time
{
	color: white;
    font-size: 21px;
    margin-left: 8px;
}

.category
{
	font-weight: 700;
}
.category-div
{
	display: inline;
}

.category-day
{
	color: white;
    font-size: 36px;
    margin-top: 344px;
    margin-left: 29px;
}

.category-time
{
	color: white;
    font-size: 36px;
    margin-left: 29px;
}

.poll-heading
{
	letter-spacing: 1px;
    color: red;
    text-decoration: underline;
}
.poll
{
	padding: 63px;
    padding-top: 20px;
    padding-bottom: 10px;
}
.vote-button
{
	padding: 7px 18px;
    margin-top: 13px;
    margin-left: 69px;
    background: red;
    border: 0px;
    border-radius: 10px;
    font-size: 23px;
}

.result
{
	padding: 7px 18px;
    margin-top: 13px;
    margin-left: 69px;
    background: red;
    border: 0px;
    border-radius: 10px;
    font-size: 23px;
}

.final-result{display: block;margin-top: 10px}


/* -----------------vegetable project--------------------------- */

.cart{float: right;}
.cart-div{background: white;}
.cart-img{width: 50px; height: 50px; }
.product-name{font-size: 19px;width: 100px;margin-right: 40px;margin-top: 27px;}

.product-quantity{width: 68px;margin-right: 19px;margin-top: 22px;font-size: 22px;}
.dropdown-style
{
	    display: inline-block;
}

.cart-after-login{
	
	position: absolute !important;
    display: inline-block !important;
    left: 36% !important;
    top: 0% !important;
}

.email-style{display: inline !important;
    margin-left: 100px !important;
    color: #8d8d8d !important;
    font-size: 18px !important;}
.order-style{display: inline !important;
    margin-left: 7px !important;
    color: #8d8d8d !important;
    font-size: 18px !important;}
.admin-style{display: inline !important;
    margin-left: 212px !important;
    color: #8d8d8d !important;
    font-size: 18px !important;}
.logout-style{display: inline !important;
    margin-left: 9px !important;
    color: #8d8d8d !important;
    font-size: 18px !important;}



































