.upcoming-heading{font-size: 29px !important;}
.upcoming-heading-div{margin-bottom: 23px !important;})
.upcoming-text{line-height: 42px !important;}
.added-to-cart{margin-top: 8px;font-size: 29px;color: green;}
.proceed-checkout{margin-top: 10px;}